{% extends 'base.html.twig' %}

{% block title %}Livré'Bon{% endblock %}

{% block body %}
 <link rel="stylesheet" href="/style/register.css">
    <div class="form_wrapper">
        <div class="form_container">
        
            <center>
                <h1>Repas</h1>
            </center>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Nom</th>
                            <td>{{ repas.nom }}</td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td>{{ repas.type }}</td>
                        </tr>
                        <tr>
                            <th>Prix</th>
                            <td>{{repas.tarif}}</td>
                        </tr>
                        <tr>
                            <th>Stock</th>
                            <td>{{repas.stock}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="divRetour">
                    <a href="{{ path('repasResto', {'id' : repas.restaurant.id}) }}" class="btn-retour">Retour</a>
                </div>
        </div>
    </div>


{% endblock %}
