{% extends 'base.html.twig' %}

{% block title %}Repas{% endblock %}

{% block body %}
    <h1>Repas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ repas.nom }}</td>
            </tr>
            <tr
                <th>Type</th>
                <td>{{ repas.type }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{repas.tarif}}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{repas.stock}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('repas') }}">back to list</a>


{% endblock %}
