{% extends 'base.html.twig' %}

{% block title %}Livré'Bon{% endblock %}

{% block body %}
<link rel="stylesheet" href="/style/register.css">
<div class="form_wrapper">
        <div class="form_container">
            <center> 
                <h1>Passer une commande</h1>
            </center>

            {{ form_start(form) }}
                <div class="input_field"> 
                    {{ form_row(form.repas) }}
                </div>

                <div class="input_field"> 
                    {{ form_row(form.quantite) }}
                </div>

                 <div class="input_field"> 
                    {{ form_row(form.dateTime) }}
                </div>

                 <div class="input_field"> 
                    {{ form_row(form.lieu) }}
                </div>

                 <div class="input_field"> 
                    {{ form_row(form.ville) }}
                 </div>

                <div class="group-btn">
                    <button type="submit" class="btn">Commander</button>
                </div>
            {{ form_end(form) }}
        </div>
</div>



{% endblock %}
