{% extends 'base.html.twig' %}

{% block title %}Livré'Bon{% endblock %}

{% block body %}

    <link rel="stylesheet" href="/style/register.css">
    <div class="form_wrapper">
        <div class="form_container">
            <div class="centre">
            {% for restaurant in restaurants %}
                <tr>
                    <td>{{ restaurant.nom }}</td>
                    <br>
                    <td>{{ restaurant.type }}</td>
                    <br>
                    <td>{{ restaurant.adresse }}</td>
                    <br>
                    <td>{{ restaurant.ville }}</td>
                    <br>
                </tr>
                <div class="divRetour">
                    <a href="{{ path('id-restaurant', {'id': restaurant.id}) }}"class="btn-retour">Afficher le restaurant</a>
                </div>
                    
                {% if is_granted("ROLE_RESTAURATEUR") %}
                    <div class="divRetour">
                        <a href="{{ path('edit_restaurant', {'id': restaurant.id}) }}"class="btn-retour">Modifier le restaurant</a>
                        <br>
                    </div>
                {% endif %}
                
            {% else %}
                <tr>
                    <td colspan="4">No</td>
                </tr>
            {% endfor %}

            {% if is_granted("ROLE_RESTAURATEUR") %}
                <div class="divRetour">
                    <a href="{{ path('new-restaurant') }}" class="btn-retour">Ajouter un nouveau Restaurant</a>
                </div>
            {% endif %}
            
            </div>
        </div>
    </div>

{% endblock %}
    