{% extends 'base.html.twig' %}

{% block title %}Livré'Bon{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/style/register.css">
    <div class="form_wrapper">
        <div class="form_container">

            <center>
                 <h1>Restaurant</h1>
            </center>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ restaurant.nom }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ restaurant.type }}</td>
                    </tr>
                    <tr>
                        <th>Duree</th>
                        <td>{{restaurant.adresse}}</td>
                    </tr>
                    <tr>
                        <th>Ville</th>
                        <td>{{restaurant.ville}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="divRetour">
                 <a href="{{ path('restaurant') }}" class="btn-retour">Retour</a>
            </div>
        </div>
    </div>


{% endblock %}
