<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Livré'Bon
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light navigation">
			<div class="container-fluid">
				<a class="nav-link active" href="/"><img height="70px" width="70px;" src="{{asset('Livrebon.png')}}"></img></a>
				<div class="collapse navbar-collapse" id="navbarColor03">
					<ul class="navbar-nav me-auto">
                        
                        
                        
                        
                        
                        {% if is_granted("ROLE_CLIENT") %}
                            <li class="nav-item">
							    <a class="nav-link" href="{{ path('restaurant') }}">Restaurant</a>
						    </li>
                            <li class="nav-item">
							    <a class="nav-link" href="{{ path('commande_add') }}">Demande de livraison</a>
						    </li>
							<li class="nav-item">
							    <a class="nav-link" href="{{ path('commandeUser') }}">Mes commandes</a>
						    </li>
						{% endif %}
						
                        


                        {% if is_granted("ROLE_LIVREUR") %}
                            <li class="nav-item">
								<a class="nav-link" href="/restaurant">Restaurant</a>
						    </li>
                            <li class="nav-item">
								<a class="nav-link" href="{{ path('commandeLivreur') }}">Commandes</a>
						    </li>
                            <li class="nav-item">
								<a class="nav-link" href="{{ path('app_livreur') }}">Profil</a>
						    </li>
						{% endif %}


                        {% if is_granted("ROLE_RESTAURATEUR") %}
							
                            <li class="nav-item">
							<a class="nav-link" href="{{ path('new-restaurant') }}">Ajouter un restaurant</a>
						    </li>
                            <li class="nav-item">
							<a class="nav-link" href="{{ path('new-repas') }}">Ajouter des plats</a>
						    </li>
                            <li class="nav-item">
							<a class="nav-link" href="{{ path('restaurant') }}">Mon restaurant</a>
						    </li>
                            <li class="nav-item">
							<a class="nav-link" href="{{ path('repasResto', {'id': app.user.restaurant.id }) }}">Mes plats</a>
						    </li>
                            <li class="nav-item">
							<a class="nav-link" href="{{ path('restaurantCmd') }}">Mes commandes</a>
						    </li>
						{% endif %}
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="nav-item">
							    <a class="nav-link" href="/logout">Déconnexion</a>
						    </li>

                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Connexion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register">Inscription</a>
                            </li>
						{% endif %}
						
						
					</ul>
				</div>
			</div>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
